<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Papa &ndash; Donner</title>
    <link rel="stylesheet" data-th-href="@{/css/styles.css}"/>
</head>
<body>
<div class="logo">
    <div class="logo-text">
        <h1>Design your shawerma</h1>
    </div>
        <img class="logo-img" data-th-src="@{/images/papa-donner.png}">
</div>

    <form method="post" data-th-object="${taco}">
        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3>Designate your wrap:</h3>
                <div data-th-each="ingredient : ${wrap}">
                    <input data-th-field="*{ingredients}" type="checkbox"
                    data-th-value="${ingredient.id}" />
                    <span data-th-text="${ingredient.name}">INGREDIENT</span><br>
                </div>
            </div>

            <div class="ingredient-group" id="proteins">
                <h3>Pick your protein:</h3>
                <div data-th-each="ingredient : ${protein}">
                    <input data-th-field="*{ingredients}" type="checkbox"
                    data-th-value="${ingredient.id}" />
                    <span data-th-text="${ingredient.name}">INGREDIENT</span><br>
                </div>
            </div>

            <div class="ingredient-group" id="cheeses">
                <h3>Choose your cheese:</h3>
                <div data-th-each="ingredient : ${cheese}">
                    <input data-th-field="*{ingredients}" type="checkbox"
                    data-th-value="${ingredient.id}" />
                    <span data-th-text="${ingredient.name}">INGREDIENT</span><br>
                </div>
            </div>


            <div class="ingredient-group" id="veggies">
                <h3>Determine your veggies:</h3>
                <div data-th-each="ingredient : ${veggies}">
                    <input data-th-field="*{ingredients}" type="checkbox"
                    data-th-value="${ingredient.id}" />
                    <span data-th-text="${ingredient.name}">INGREDIENT</span><br>
                </div>
            </div>

            <div class="ingredient-group" id="sauces">
                <h3>Select you sauce:</h3>
                <div data-th-each="ingredient : ${sauce}">
                    <input data-th-field="*{ingredients}" type="checkbox"
                    data-th-value="${ingredient.id}" />
                    <span data-th-text="${ingredient.name}">INGREDIENT</span><br>
                </div>
            </div>
        </div>

        <div>
            <h3>Name your taco creation:</h3>
            <input type="text" data-th-field="*{name}" />
            <br>
            <button>Submit Your Shawerma</button>
        </div>
    </form>
</body>
</html>