<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Papa &ndash; Donner</title>
    <link rel="stylesheet" data-th-href="@{/css/styles.css}"/>
</head>
<body>
    <form method="post" data-th-action="@{/orders}" data-th-object="${tacoOrder}">
        <h1>Design your shawerma</h1>
        <img data-th-src="@{/images/papa-donner.png}">
        <h3>Your shawerma in this order</h3>
        <a data-th-href="@{/design}" id="another">Design another shawerma</a><br>
        <ul>
            <li data-th-each="taco : ${tacoOrder.tacos}">
                <span data-th-text="${taco.name}">taco name</span></li>
        </ul>
        <h3>Deliver my taco masterpiece to...</h3>
        <label for="deliveryName">Name: </label>
        <input type="text" data-th-field="*{deliveryName}" />
        <span class="validationError" data-th-if="${#fields.hasErrors("deliveryName")}"
              data-th-errors="*{deliveryName}">deliveryName ERROR</span>
        <br>
        <br>

        <label for="deliveryStreet">Street adress: </label>
        <input type="text" data-th-field="*{deliveryStreet}" />
        <span class="validationError" data-th-if="${#fields.hasErrors("deliveryStreet")}"
              data-th-errors="*{deliveryStreet}">deliveryStreet ERROR</span>
        <br>
        <br>

        <label for="deliveryCity">City: </label>
        <input type="text" data-th-field="*{deliveryCity}" />
        <span class="validationError" data-th-if="${#fields.hasErrors("deliveryCity")}"
              data-th-errors="*{deliveryCity}">deliveryCity ERROR</span>
        <br>
        <br>

        <label for="deliveryState">State: </label>
        <input type="text" data-th-field="*{deliveryState}" />
        <span class="validationError" data-th-if="${#fields.hasErrors("deliveryState")}"
              data-th-errors="*{deliveryState}">deliveryState ERROR</span>
        <br>
        <br>

        <label for="deliveryZip">Zip code: </label>
        <input type="text" data-th-field="*{deliveryZip}" />
        <span class="validationError" data-th-if="${#fields.hasErrors("deliveryZip")}"
              data-th-errors="*{deliveryZip}">deliveryZip ERROR</span>
        <br>
        <br>

        <h3>Here"s how I"ll pay...</h3>
        <label for="ccNumber">Credit Card #: </label>
        <input type="text" data-th-field="*{ccNumber}">
        <span class="validationError" data-th-if="${#fields.hasErrors("ccNumber")}"
              data-th-errors="*{ccNumber}">CC NUM ERROR</span>
        <br>

        <label for="ccExpiration">Expiration: </label>
        <input type="text" data-th-field="*{ccExpiration}">
        <span class="validationError" data-th-if="${#fields.hasErrors("ccExpiration")}"
              data-th-errors="*{ccExpiration}">CC NUM ERROR</span>
        <br>

        <label for="ccCVV">CVV: </label>
        <input type="text" data-th-field="*{ccCVV}">
        <span class="validationError" data-th-if="${#fields.hasErrors("ccCVV")}"
              data-th-errors="*{ccCVV}">CC NUM ERROR</span>
        <br>

        <input type="submit" value="Submit order">
    </form>
</body>
</html>